* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  max-width: 1440px;
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.infoSelect {
  max-width: 1280px;
  min-width: 900px;
  max-height: 100vh;
  min-height: 90vh;
  background-color: white;
  gap: 10px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.infoSelect p {
  margin: 25px 5px 25px 5px;
  font-size: 3rem;
}

.infoSelect .checkContainer input {
  margin: 0 10px;
  height: 1.5rem;
  width: 1.5rem;
}

.infoSelect .checkContainer label {
  font-size: 2rem;
}

.checkContainer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

.fileUpload {
  max-width: 1280px;
  min-width: 900px;
  max-height: 100vh;
  min-height: 90vh;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  border: 1px solid black;
}

.fileUpload h2 {
  align-self: center;
  font-size: 3rem;
}

.uploads {
  margin-left: 10px;
  border: none;
  width: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0;
}

.tableButton {
  text-decoration: underline;
  color: #333;
  display: grid;
  place-content: center;
}

.tableButton:hover {
  color: hsl(0, 0%, 40%);
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-left: 10px;
}

.inputContainer input {
  display: grid;
  place-content: center;
}

.inputContainer label {
  font-size: 1.5rem;
}

.buttonContainer {
  margin: auto 0 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}

.reportsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reportsTable {
  height: auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
}

.reportsHeader,
.reportsCell {
  border: 1px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.reportsHeader {
  width: 250px;
}

.reportsCell {
  width: 100px;
  font-size: 0.95rem;
}

.reportsHeaderTop {
  width: 100px;
  text-align: center;
  border: 1px solid black;
}

.accountsContainer {
  border: 1px solid #333;
  border-bottom: none;
  padding: 10px;
  margin: 0 auto;
  height: auto;
}

.accountSummary > .accountsContainer:nth-child(4) {
  border-bottom: 1px solid black;
}

.accountSummary {
  min-width: 1440px;
  min-width: 1280px;
  width: 100%;
}

.accountsTable {
  height: auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 0;
  width: 100%;
}

.accountsHeaderMain {
  font-size: 1.25rem;
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;
}

.accountsHeader {
  height: 20px;
  border: 1px solid black;
  width: 200px;
  font-size: 0.95rem;
}

.accountsRow,
.nameCell {
  height: 40px;
  text-align: center;
  font-size: 0.8rem;
}
.accountsRow {
  border: 1px solid black;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.active:hover {
  background-color: #3333336e;
  color: white;
}

.paymentHistory {
  background-color: transparent;
  border: none;
  outline: none;
  color: #333;
}

.paymentHistory:hover {
  cursor: pointer;
  color: hsl(0, 0%, 40%);
}

.nameCell {
  text-align: center;

  border: 1px solid black;
}

.authorizedUser {
  color: rgb(0, 0, 255);
}

.infoButton {
  width: 80%;
  margin: auto auto 5px auto;
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
  justify-self: center;
  background-color: white;
}

.infoButton:hover {
  cursor: pointer;
  background-color: rgb(209, 207, 207);
}

.formButton {
  padding: 2px 5px;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
  color: #333;
  border-radius: 8px;
}

.formButton:hover {
  cursor: pointer;
  background-color: rgb(209, 207, 207);
}

.newButton {
  width: 25%;
  margin: 10px;
  border: 1px solid black;
}

.bureauButton {
  border: none;
  outline: none;
  border-top: none;
}

.bureauButton:hover {
  background-color: grey;
  cursor: pointer;
}

.formButton,
.bureauButton,
.newButton {
  font-size: 1.25rem;
  background-color: white;
  border: 0.25px solid black;
}

.active {
  background-color: #333;
  color: white;
}

.paymentHistoryGrid {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: 15px 5px;
  background-color: whitesmoke;
}

.paymentHistoryMonths,
.paymentHistoryYears {
  margin: 2px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100px repeat(12, 1fr);
  justify-content: center;
  align-items: center;
}

.gridCell {
  display: grid;
  place-content: center;
}

.noPaymentHistory {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding: 15px 5px;
  font-weight: bold;
}

.derogatory {
  color: red;
  font-weight: bold;
}

.clear {
  color: green;
  font-weight: bold;
}
